@media only screen and (max-width:600px) {
    ul>li {
        display: none;
    }

    div.headerLogo {
        float: right;
        position: relative;
        right: 10%;
        bottom: 5px;
    }

    img.logo {
        width: 120px;
    }

    .dropDown {
        position: relative;
        display: inline;
        top: 30px;
        left: 15px;
    }

    .bannerImg>img {
        width: 90%;
        position: relative;
        left: 5%;
        right: 5%;
    }

    .bannerText {
        position: relative;
        top: 70px;
        font-size: 40px;
        width: 90%;
    }

    .bannerSubText {
        position: relative;
        top: 80px;
        font-size: 13px;
        width: 90%;
    }

    .bannerBtn {
        position: relative;
        top: 100px;
        padding: 15px 20px 15px 20px;
        left: 5%;
    }

}

/* ----------------------601------------------------ */
@media only screen and (min-width:601px) {
    ul>li {
        display: none;
        color: white;
        font-size: 10px;
        padding-right: 10px;
    }

    .dropDown {
        position: relative;
        display: inline;
        top: 30px;
        left: 15px;
    }

    div.headerLogo {
        float: right;
        position: relative;
        right: 10%;
        bottom: 5px;
    }

    img.logo {
        width: 160px;
    }

    .bannerImg>img {
        width: 90%;
        position: relative;
    }

    .bannerText {
        position: relative;
        top: 70px;
        font-size: 40px;
        width: 70%;
    }

    .bannerSubText {
        position: relative;
        top: 80px;
        font-size: 13px;
        width: 70%;
    }

    .bannerBtn {
        position: relative;
        top: 100px;
        padding: 15px 20px 15px 20px;
        left: 15%;
    }

    section.banner {
        background-image: url(./img/banner-bg.jpg);
        height: 550px;
        background-repeat: round;
    }
}

/* ------------------------768---------------------- */
@media only screen and (min-width:768px) {
    ul>li {
        display: inline;
        position: relative;
        top: 40px;
        font-size: 14px;
    }

    .dropDown {
        display: none;
    }

    div.headerLogo {
        padding: 10px 0px 10px 0px;
        float: left;
        position: relative;
        top: 10px;
        left: 15px;
    }

    .bannerImg>img {
        width: 90%;
    }

    .bannerImg {
        position: relative;
        bottom: 16%;
        padding: 0px 0px 0px 0px;
    }

    .bannerText {
        position: relative;
        top: 25%;
        right: 30%;
        width: 35%;
        font-size: 40px;
    }

    .bannerSubText {
        position: relative;
        top: 27%;
        right: 30%;
        width: 35%;
        font-size: 14px;
    }

    .bannerBtn {
        position: relative;
        top: 30%;
        left: 3%;
    }

    section.banner {
        background-image: url(./img/banner-bg.jpg);
        height: 650px;
        background-repeat: round;
    }

}

@media only screen and (min-width:992px) {
    div.headerLogo {
        padding: 10px 0px 10px 60px;
        position: relative;
        top: 10px;
        left: 50px;
    }

    img.logo {
        width: 170px;
    }

    .bannerImg>img {
        width: 100%;
    }

    .bannerImg {
        position: relative;
        bottom: 20%;
        right: 10%;
        padding: 0px 0px 0px 0px;
    }

    .bannerText {
        position: relative;
        top: 25%;
        right: 23%;
        width: 30%;
        font-size: 55px;
    }

    .bannerSubText {
        position: relative;
        top: 25%;
        right: 23%;
        width: 30%;
        font-size: 14px;
    }

    .bannerBtn {
        position: relative;
        top: 28%;
        left: 12%;
    }
}