@media only screen and (max-width:600px) {
    ul>li {
        display: none;
    }

    div.headerLogo {
        float: right;
        position: relative;
        right: 10%;
        bottom: 5px;
    }

    img.logo {
        width: 120px;
    }

    .dropDown {
        position: relative;
        display: inline;
        top: 30px;
        left: 15px;
    }

    section.banner {
        display: block;
        padding: 50px 0px 0px 0px;
        height: 100%;
    }

    .bannerText {
        color: white;
        font-size: 2rem;
        padding: 0px 5% 0px 8%;
        line-height: 135%;

    }

    .bannerSubText {
        color: white;
        font-size: 14px;
        padding: 10px 5% 0px 8%;
        line-height: 135%;
    }

    .bannerBtn {
        position: relative;
        left: 8%;
        top: 20px;
        padding: 13px 3% 13px 3%;
        background-color: white;
        border: none;
    }

    .banner_img {
        padding: 15px 8% 0px 0px;
        width: 90%;
    }

    .imge {
        width: 90%;
    }

    div.products {
        display: block;
        padding: 70px 5% 0px 5%;
    }

    section.about {
        display: block;
    }
    section.movie {
        display: block;
        padding: 0%;
    }
}

/* ----------------------601------------------------ */
@media only screen and (min-width:601px) {
    ul>li {
        display: none;
        color: white;
        font-size: 10px;
        padding-right: 10px;
    }

    .dropDown {
        position: relative;
        display: inline;
        top: 30px;
        left: 15px;
    }

    div.headerLogo {
        float: right;
        position: relative;
        right: 10%;
        bottom: 5px;
    }

    img.logo {
        width: 160px;
    }

    section.banner {
        display: block;
        padding: 50px 0px 0px 0px;
        background-image: url(./img/banner-bg.jpg);
        height: 550px;
    }

    .banner_img {
        padding: 15px 8% 0px 0px;
        width: 70%;

    }

    .bannerText {
        color: white;
        font-size: 2rem;
        padding: 0px 5% 0px 5%;
        width: 70%;
    }

    .bannerSubText {
        color: white;
        font-size: 14px;
        padding: 0px 5% 0px 5%;
        width: 70%;
    }

    .bannerBtn {
        position: relative;
        left: 15%;
        top: 20px;
        padding: 13px 3% 13px 3%;
        background-color: white;
        border: none;
    }

    div.products {
        display: list-item;
        padding: 70px 8% 0px 40px;
    }

    section.about {
        display: block;
    }
    section.movie {
        display: block;
        padding: 0%;
    }
}

/* ------------------------768---------------------- */
@media only screen and (min-width:768px) {
    ul>li {
        display: inline;
        position: relative;
        top: 40px;
        font-size: 14px;
    }

    .dropDown {
        display: none;
    }

    div.headerLogo {
        padding: 10px 0px 10px 0px;
        float: left;
        position: relative;
        top: 10px;
        left: 15px;
    }

    section.banner {
        background-image: url(./img/banner-bg.jpg);
        height: 100%;
        background-repeat: round;
        display: flex;
    }

    .banner_img {
        padding: 40px 4% 100px 0px;
      
        position: relative;
    }
    div>img.imge{
        width: 75%;
    }

    .bannerText {
        color: white;
        position: relative;
        top: 70px;
        left: 20%;
        font-size: 2rem;
        padding: 0px 60px 0px 0px;
      
       
    }

    .bannerSubText {
        color: white;
        font-size: 14px;
        position: relative;
        top: 80px;
        left: 20%;
        padding: 0px 60px 0px 0px;
      
    }

    .bannerBtn {
        position: relative;
        left: 29%;
        top: 90px;
        padding: 15px 5% 15px 5%;
        background-color: white;
        border: none;
    }



    div.products {
        display: list-item;
        padding: 70px 5% 0px 5%;
    }
    section.movie {
        display: flex;
        padding: 0%;
    }

}

@media only screen and (min-width:992px) {
    div.headerLogo {
        padding: 10px 0px 10px 60px;
        position: relative;
        top: 10px;
        left: 50px;
    }

    img.logo {
        width: 170px;
    }

    section.banner {
        display: flex;
        padding: 100px 0px 0px 0px;
        background-image: url(./img/banner-bg.jpg);
        height: 530px;
    }

    .banner_img {
        padding: 15px 0% 0px 0px
    }

    .bannerText {
        color: white;
        font-size: 3rem;
        padding: 0px 0% 0px 0%;
        position: relative;
        left: 5%;
        
    }

    .bannerSubText {
        color: white;
        font-size: 14px;
        padding: 0px 0% 0px 0%;
        position: relative;
        left: 5%;
        
    }

    .bannerBtn {
        position: relative;
        left: 20%;
        top: 100px;
        padding: 13px 3% 13px 3%;
        background-color: white;
        border: none;
    }

    div.products {
        display: flex;
        padding: 70px 1% 0px 1%;
    }

    section.about {
        display: flex;
    }
}