* {
    margin: 0 auto;
    padding: 0%;
}

body {
    font-family: "Poppins", sans-serif;
}

/*------------------------ navigation section -------------------*/
nav>ul {
    position: relative;
    text-align: right;
    list-style-type: none;
    bottom: 20px;
    right: 40px;
}

ul>li {
    display: inline;
    padding-right: 20px;
    font-size: 15px;
    color: white;
}

header.header {
    background-color: rgba(138, 144, 255, 1);
    position: fixed;
    width: 100%;
}

.headerLogo {
    padding: 15px 0px 0px 40px;
}


.dropDownBtn {
    border: none;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    float: left;
    position: relative;
    left: 15px;
    bottom: 25px;
}

.dropDown {
    position: relative;
    display: none;
}

.dropDownContent {
    position: absolute;
    display: none;
    min-width: 160px;
}

.dropDownContent a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.dropDownContent a:hover {
    background-color: white;

}

.dropDown:hover .dropDownContent {
    display: block;
}

.dropDown:hover .dropDownBtn {
    background: white;
}

/*------------------------ banner section -------------------*/
section.banner {
    display: flex;
    padding: 100px 0px 0px 0px;
    background-image: url(./img/banner-bg.jpg);
    height: 530px;
}

.banner_img {
    padding: 15px 8% 0px 0px
}
.bannerText{
    color: white;
    font-size: 3rem;
    padding: 68px 25% 0px 16%;
    line-height: 135%;
}
.bannerSubText{
    color: white;
    font-size: 14px;
    padding: 10px 25% 0px 16%;
    line-height: 135%;
}
.bannerBtn{
    position: relative;
    left: 16%;
    top: 20px;
    padding: 13px 3% 13px 3%;
    background-color: white;
    border: none;
}

/*------------------------ featured section -------------------*/
h1.featuredTitle {
    font-size: 35px;
    text-align: center;
    padding: 110px 0px 0px 0px;
    color: #222222;
}

p.featuredP {
    text-align: center;
    color: #777777;
    font-family: "Poppins", sans-serif;
    padding: 10px 0px 0px 0px;
    font-size: 14px;
    font-weight: 300;
}

div.products {
    text-align: center;
    display: flex;
}


.firstp,
.secondp,
.thirdp,
.fourthp {
    width: 50%;
}

.firstProduct,
.secondProduct,
.thirdProduct,
.fourthProduct {
    box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
    margin-bottom: 40px;
    padding: 1%;
}

.firstImg,
.secondImg,
.thirdImg,
.fourthImg {
    padding: 10px 0px 0px 0px;
}

/*-----------------------section about -------------------*/

section.about div {
    /* border: solid 1px black; */
    margin-top: 80px;
}

section.about {
    display: flex;
}

img.pic {
    width: 680px;
}

.h1_about {
    padding: 140px 45% 0px 2%;
    font-size: 2rem;
}

.h4_about {
    padding: 20px 30% 0px 2%;
}

.p_about {
    padding: 20px 5% 0px 2%;
}

.btn_about {
    position: relative;
    left: 2%;
    top: 20px;
}

/*------------------------ movie section -------------------*/
section.movie {
    display: flex;
    padding: 0%;
}

/*------------------------ feature section -------------------*/
section.somfeatur {
    background-image: url(./img/feature-bg.jpg);
    padding: 0%;
    height: 700px;
}

.h1_featur {
    text-align: center;
    padding: 120px 0px 0px 0px;
    font-size: 36px;
    color: white;
}

.p_featur {
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: white;
}

.first_three {
    display: flex;
    padding: 100px 50px 0px 50px;
}

.second_three {
    display: flex;
    padding: 50px 50px 0px 50px;
    ;
}

.first_featur {
    background-color: white;
    margin: 0px 2% 0px 2%;
    padding: 10px;
    border-radius: 15px;
}

.second_featur {
    background-color: white;
    margin: 0px 2% 0px 2%;
    padding: 10px;
    border-radius: 15px;
}

.third_featur {
    background-color: white;
    margin: 0px 2% 0px 2%;
    padding: 10px;
    border-radius: 15px;
}

/*------------------------ footer section -------------------*/
.footer {
    background-image: url(./img/footer-bg.jpg);
    height: 520px;
}